:root {
    font-family: monospace;
}

body {
    background: black;
    color: white;
}

header {
    color: darkgray;
    text-align: center;
    background-color: black;
    padding: 15px;
}

#sitenav ul {
    list-style: none;
    display: inline;
    font-size: 24px;
    letter-spacing: 2px;
    padding: 0;
}

#sitenav li {
    display: inline-flex;
    background-color: #111;
    transition: .1s;
    padding-inline-start: 2px;
}

#sitenav li:hover {
    background-color: #555;
}

#sitenav li a {
    color: deeppink;
}

#abt-me {
    text-align: justify;
    font-size: 2vw;
    max-width: 50vw;
    margin: auto;
}

hr {
    border: 0;
    border-top: 2px solid #222;
    max-width: 50vw;
}

/* input[type=text] {
    width: 100vw;
    padding: 10px;
    height: 100px;
    text-align: center;
    font-size: 3vw;
    color: white;
    background-color: blue;
    font-family: monospace;
    border: 0;
    outline: 0;
}

input[type=text]:focus {
    outline:none!important;
}

div[id=description] {
    max-width: 1080px;
    margin: auto;
    font-size: 25px;
    font-family: monospace;
    margin-top: 100px;
    line-height: 45px;
}

div[id=description] p span {
    box-shadow: -4px 4px 0px #222222;
}

div[id=link-header] {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 120px;
}

div[id=link-header] span {
    letter-spacing: 5px;
    font-size: 25px;
    font-family: monospace;
    font-style: italic;
    text-shadow: 0.2em 0.5em 0.1em rgb(100, 9, 27),
    -0.3em 0.1em 0.1em rgb(0, 87, 87),
    0.4em -0.3em 0.1em rgb(20, 96, 173);
}

div[id=links] {
    letter-spacing: 3px;
    font-size: 25px;
    font-family: monospace;
    text-align: center;
    margin-top: 30px;
}

div[id=links] span[id=mstdn] {
    background-color: dodgerblue;
    color:white;
    transition: .5s;
}

div[id=links] span[id=mstdn]:hover {
    background-color: white;
    color: black;
    transition: .5s;
}

div[id=links] span[id=yt] {
    background-color: crimson;
    color:white;
    transition: .5s;
}

div[id=links] span[id=yt]:hover {
    background-color: white;
    color: black;
    transition: .5s;
}

div[id=links] span[id=bc] {
    background-color: darkcyan;
    color:white;
    transition: .5s;
}

div[id=links] span[id=bc]:hover {
    background-color: white;
    color: black;
    transition: .5s;
} */

#follow-nag {
    text-align: center;
    font-size: 2vw;
    margin: 0;
}

#navnest {
    color: darkgray;
    text-align: center;
    background-color: black;
    padding: 0px;
    font-size: 2vw;
}

#sitelinks ul {
    padding: 0px;
    list-style: none;
}

#sitelinks li {
    display: inline-block;
}

#sitelinks li:hover {
    background-color: #555;
}

#sitelinks li a {
    color: deeppink;
}

/* #footer {
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: darkgray;
    text-align: center;
    background-color: black;
} */

footer {
    color: darkgray;
    text-align: center;
    background-color: black;
    bottom: 0;
    position: sticky;
    font-size: 12px;
}

footer a {
    text-decoration: none;
    color: deeppink;
}

@media (max-width: 630px) {
    #abt-me {
        font-size: 3vw !important;
        max-width: 70vw !important;
    }

    #follow-nag {
        font-size: 3vw !important;
    }
    
    #sitenav ul {
        font-size: 15px !important;
    }
}