body[id=home] {
    background: black;
    color: white;
    margin-top: 200px;
}

input[type=text] {
    width: 99%;
    padding: 10px;
    height: 100px;
    text-align: center;
    font-size: 75px;
    color: white;
    background-color: blue;
    font-family: monospace;
    border: 0;
    outline: 0;
}
input[type=text]:focus {
    outline:none!important;
}

div[id=link-header] {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 50px;
}

div[id=link-header] span {
    letter-spacing: 5px;
}

div[id=links] {
    letter-spacing: 2px;
    font-size: 20px;
    font-family: monospace;
    transition: .5s;
    text-decoration: none;
}

div[id=links] span[id=mstdn] {
    background-color: dodgerblue;
    color:white;
}

div[id=links] span[id=mstdn]:hover {
    background-color: white;
    color: black;
}

div[id=links] span[id=yt] {
    background-color: crimson;
    color:white;
}

div[id=links] span[id=yt]:hover {
    background-color: white;
    color: black;
}

div[id=links] span[id=bc] {
    background-color: darkcyan;
    color:white;
}

div[id=links] span[id=bc]:hover {
    background-color: white;
    color: black;
}