body {
    font-family: monospace;
    background-color: black;
    color: white;
}

.column {
    float: left;
    width: 33vw;
}

#column-2 {
    text-align: center;
}

#column-3 {
    text-align: right;
    
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }