:root {
    font-family: monospace;
    --hot-pink: #dc1467;
    --deep-purple: #500050;
    --background-tertiary: #6d0b39;
    --background-tertiary-trans: #6d0b3990;
    --background-secondary: #50082a;
    --background-secondary-trans: #50082a90;
    --background-primary: #180213;
    --background-primary-trans: #18021390;
    --transition-speed: 0.5s;
}

::selection {
    background-color: var(--deep-purple);
}

/* header breaks at x1480 */

body {
    background-color: var(--background-primary);
    color: white;
    margin: 0;
    background: url(../assets/i-literally-dont-know-this-song.png) var(--background-primary);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

header {
    overflow: hidden;
    background-color: var(--background-secondary-trans);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
}

#header-content {
    font-size: 1.5rem;
    color: var(--hot-pink);
    letter-spacing: .2rem;
}

.head-column {
    float: left;
    width: 33vw;
    text-align: center;
}

.username a {
    text-decoration: none;
    color: var(--hot-pink);
    transition: var(--transition-speed);
}

.username a:hover {
    background-color: var(--hot-pink);
    color: var(--deep-purple)
}

#header-content:after {
    content: "";
    display: table;
    clear: both;
}

.head-column ul {
    list-style: none;
    display: inline-flex;
    padding: 0 15px;
}

.head-column li {
    padding: 0 15px;
}

.nav-link {
    background-color: transparent;
    transition: var(--transition-speed);
    color: var(--hot-pink);
}

.nav-link:hover a {
    background-color: var(--hot-pink);
    text-decoration: none;
    color: var(--deep-purple);
}

.nav-link a {
    text-decoration: none;
    color: var(--hot-pink);
    transition: var(--transition-speed);
}

#greeting {
    text-align: left;
    letter-spacing: .2rem;
    color: var(--hot-pink);
    margin-top: 25vh;
    margin-left: 10vw;
}

.header1 {
    font-size: 2rem;
    margin-bottom: 0;
}

#greeting .header1 {
    font-size: 3rem;
}

.header2 {
    font-size: 1.4rem;
    margin-top: 4px;
}

#greeting .header2 span {
    background-color: var(--background-secondary);
    transition: var(--transition-speed);
}

#greeting .header2 span:hover {
    background-color: var(--hot-pink);
}

#greeting .header2 span a {
    text-decoration: none;
    color: var(--hot-pink);
    transition: var(--transition-speed);
}

#greeting .header2 span a:hover {
    text-decoration: underline;
    color: var(--deep-purple);
}

#description {
    text-align: right;
    margin-top: 15vh;
    margin-right: 10vw;
    font-size: 2rem;
    color: var(--hot-pink);
}

footer {
    backdrop-filter: blur(1rem);
    position:absolute;
    bottom:0;
    width:100%;
    height:25px;
    background: var(--background-secondary);
 }

 #bgsrc {
     text-align: center;
     padding-top: 4px;
     padding-right: 6px;
 }

 #bgsrc a {
     text-decoration: none;
     color: var(--hot-pink);
 }

 #bgsrc a:hover {
    text-decoration: underline;
}

#mobile-header {
    display: none;
}

#dropdown-nav {
    display: none;
    text-align: right;
    position: fixed;
    width: 100vw;
    letter-spacing: 1rem;
    font-size: 2rem;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
}

#dropdown-nav ul {
    margin: 0;
    padding: 0;
}

#dropdown-nav ul li {
    padding: 1rem;
    background-color: var(--background-tertiary-trans);
    transition: var(--transition-speed);
}

#dropdown-nav ul li:nth-child(even) {
    background-color: var(--background-secondary-trans);
}

#dropdown-nav ul li:hover {
    background-color: var(--hot-pink);
}

#dropdown-nav ul li:hover > a {
    color: var(--deep-purple);
}

#dropdown-nav ul li a {
    text-decoration: none;
    color: var(--hot-pink);
    transition: var(--transition-speed);
}

@media screen and (max-width: 1480px){
    #header-content {
        display: none;
    }

    #mobile-header {
        display: flex;
        font-size: 1.5rem;
        display: initial;
    }

    #mobile-header .username {
        margin-left: 2rem;
        float: left;
    }

    #greeting {
        margin-top: 15vh;
    }

    #dropbtn {
        float: right;
        background-color: var(--background-tertiary-trans);
        border: none;
        color: var(--hot-pink);
        padding: 1px 64px;
        text-align: center;
        text-decoration: none;
        font-size: 4rem;
        transition: var(--transition-speed);
    }

    #dropbtn:hover {
        background-color: var(--hot-pink);
        color: var(--deep-purple);
    }

    #dropbtn:active {
        background-color: var(--background-secondary-trans);
        color: var(--hot-pink);
        transition: 0;
    }

    #dropdown-nav ul {
        list-style: none;
    }
}