:root {
    font-family: monospace;
    --hot-pink: #dc1467;
    --deep-purple: #500050;
    --background-secondary: #50082a;
    --background-primary: #180213;
    --transition-speed: 0.5s;
}

body {
    background-color: var(--background-primary);
    max-width: 800px;
    margin: auto;
    font-family: monospace;
    color: white;
}

#back-button {
    margin: 14px 0px;
    font-weight: normal;
}

#back-button a {
    background: var(--background-secondary);
    text-decoration: none;
    color: var(--hot-pink);
    transition: .1s;
}

#back-button a:hover {
    background: var(--hot-pink);
    text-decoration: none;
    color: var(--deep-purple);
}

.content h1 {
    background-color: var(--hot-pink);
    color: black;
}

.content p {
    background-color: var(--background-secondary);
}