body {
    background-color: #020004;
    max-width: 800px;
    margin: auto;
    font-family: monospace;
    color: white;
}

#back-button {
    margin: 14px 0px;
    font-weight: normal;
}

#back-button a {
    background: #121114;
    text-decoration: none;
    color: deeppink;
    transition: .1s;
}

#back-button a:hover {
    background: hsl(328, 86%, 10%);
    text-decoration: none;
    color: deeppink;
}

.content h1 {
    background-color: hsl(328, 100%, 50%);
    color: black;
}

.content p {
    background-color: #161018;
}