:root {
    font-family: monospace;
    --hot-pink: #dc1467;
    --deep-purple: #500050;
    --background-secondary: #50082a;
    --background-primary: #180213;
    --transition-speed: 0.5s;
}

::selection {
    background-color: var(--deep-purple);
}

body {
    background-color: var(--background-primary);
    color: var(--hot-pink);
    max-width: 860px;
    margin: auto;
    font-size: 2rem;
}

#header-content {
    float: left;
}

a {
    color: var(--hot-pink);
    background-color: var(--background-secondary);
    text-decoration: none;
    transition: var(--transition-speed);
}

a:hover {
    color: var(--deep-purple);
    background-color: var(--hot-pink);
}

#page-title {
    text-align: left;
}

#sub-title {
    font-size: 5rem;
}

#sub-title {
    text-align: right;
}

.description {
    text-align: justify;
}

#pronouns {
    text-align: justify;
}

#stan {
    text-align: right;
    font-size: 1rem;
}