:root {
    font-family: monospace;
    --hot-pink: #dc1467;
    --deep-purple: #500050;
    --background-secondary: #50082a;
    --background-primary: #180213;
    --transition-speed: 0.5s;
}

::selection {
    background-color: var(--deep-purple);
}

body {
    background-color: var(--background-primary);
    color: var(--hot-pink);
    max-width: 860px;
    margin: auto;
}

#header-content {
    float: left;
}

#back-button {
    margin-top: 10px;
}

#back-button a {
    text-decoration: none;
    font-size: 2rem;
    background-color: var(--background-secondary);
    color: var(--hot-pink);
    transition: var(--transition-speed);
}

#back-button a:hover {
    color: var(--deep-purple);
    background-color: var(--hot-pink);
}

.q-a {
    font-size: 2rem;
}

.q-a h2 {
    text-align: right;
}

.q-a p {
    text-align: justify;
}

.q-a a {
    text-decoration: none;
    background-color: var(--background-secondary);
    color: var(--hot-pink);
    transition: var(--transition-speed);
}

.q-a a:hover {
    color: var(--deep-purple);
    background-color: var(--hot-pink);
}