:root {
    font-family: monospace;
    --hot-pink: #dc1467;
    --deep-purple: #500050;
    --background-secondary: #50082a;
    --background-primary: #180213;
    --transition-speed: 0.5s;
}

::selection {
    background-color: var(--deep-purple);
}

/* body {
    background-color: var(--background-primary);
    color: var(--hot-pink);
    text-align: center;
}

a {
    color: var(--hot-pink);
    background-color: var(--background-secondary);
    text-decoration: none;
    transition: var(--transition-speed);
    font-size: 2rem;
}

a:hover {
    color: var(--deep-purple);
    background-color: var(--hot-pink);
}

#return-btn {
    margin-top: 8rem;
}

#namelist {
    max-width: 70vw;
    margin: auto;
    text-align: justify;
}

#title {
    font-size: 6rem;
    font-weight: normal;
}

#subtitle {
    text-align: center;
}

#names {
    font-size: 2rem;
}

#names span {
    font-size: 1rem;
} */

body {
    background-color: var(--background-primary);
    color: var(--hot-pink);
    text-align: center;
    margin: 0;
}

#return-btn {
    margin: auto;
    margin-top: 5rem;
}

#return-btn a {
    color: var(--hot-pink);
    background-color: var(--background-secondary);
    text-decoration: none;
    transition: var(--transition-speed);
    font-size: 2rem;
}

#return-btn a:hover {
    color:var(--deep-purple);
    background-color: var(--hot-pink);
}

#title {
    font-size: 6rem;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 0;
}

#subtitle {
    font-size: 1rem;
}

#names {
    font-size: 3rem;
}

#names span {
    font-size: 1rem;
}