body {
    background-color: black;
}

.content {
    color: white;
    max-width: 80vw;
    margin: auto;
    font-family: monospace;
}

h1 {
    background-color: blue;
}

p {
    background-color: #222222;
}